@font-face {
    font-family: "WorkSans";
    src: url('worksans/WorkSans-Regular.ttf');
}

@font-face {
    font-family: "WorkSans";
    src: url('worksans/WorkSans-SemiBold.ttf');
    font-weight: SemiBold;
}

body {
	text-align: center;
	font-family: "Lato";
}

article {
	text-align: left;
}

.page-header {
	font-family: "Work Sans";
}

// td + td {
// 	padding: 0 1em;
// }

td:nth-child(1) {
	text-align: right;
}

td:nth-child(3) {
	text-align: left;
}

td:nth-child(4) {
	text-align: right;
}

table {
	width: 100%;
	table-layout: fixed;
}

#placeholderUp {
	height: 3em;
}

input[type="text"] {
	width: 100%;
	text-align: center;
	border: 1px solid #eee;

	&:focus {
		outline:none;
		border: 1px solid #c5e7ed;
		box-shadow:0 0 10px #c5e7ed;
	}
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label:before {
  border: 1px solid black;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}

input[type="checkbox"]:checked + label:before {
  background: #c5e7ed;
  color: black;
  content: "\2713";
  text-align: center;
}

label {
	font-weight: normal;
}

span + span {
	margin-left: 1em;
}
